#center-card-container{
    background-image: linear-gradient(344.71deg, #FBAF03 3.44%, #FFD428 86.36%);
    height: 195px;
    border-radius: 11px;
    transition: all 0.4s ease-in-out;

}

#center-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#avatar-image-container{
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
    overflow: hidden;
    margin-top:20px;
}

.avatar-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(27, 27, 30, 0.725524);
    margin-bottom: 0px;
    margin-top:5px;
}

#card-name>p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-top:2px;
    margin-bottom: 0px;
}



#cta-container{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: auto auto;
}

.center-card-cta{
    padding: 10px 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

}