body{
    margin: 0;
}

#home-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card{
    width:90%;
    max-width: 320px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 15px;
}

#logo-container{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.responsive-img{
    max-width: 100%;
    height: auto;
}

#content-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: #F7F6F3;
    border-radius: 12px 12px 0px 0px;
    align-items: center;
    padding: 15px 0px;
    padding-top: 0px;
    /* width: 100vw;
    /* margin-left:auto;
    margin-right:auto; */
}

.invisible{
    height: 0px !important;
    margin: 0px !important;
    display: none;
}



@media only screen and (min-width:600px){
    #content-container{
        max-width: 360px;
        margin:auto
    }
}